---
import BestyrelseCard from "../components/BestyrelseCard.astro";
import Navbar from "../components/Navbar.astro";
const { title } = Astro.props;
const data = await fetch(
  "https://efrjvsgbrgktorrxkiyp.supabase.co/rest/v1/valby_if",
  {
  method: "GET",
  headers: {
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVmcmp2c2dicmdrdG9ycnhraXlwIiwicm9sZSI6ImFub24iLCJpYXQiOjE2OTYzNDgxOTUsImV4cCI6MjAxMTkyNDE5NX0.FZgFg8q1LZylUrKUOvO7aIbWt83tY4dKVuVyAKKgxVU"
    },
  }
).then((res) => res.json());
console.log(data);    
---
     
          

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="generator" content={Astro.generator} />

    <title>Valby IF</title>
    <link rel="stylesheet" href="./src/css/generel.css" />
    <link rel="stylesheet" href="/src/css/index.css" />
  </head>
  <body>
    <header><Navbar /></header>

    <main>
      <h1>Bestyrelsen</h1>

      <section>
        {data.map((show) => {
          <img src=`/imgs/bestyrelse_imgs${show.board_member_img_url}` alt="Bestyrelses medlem" loading="lazy">
          return <BestyrelseCard board_member_name={show.board_member_name} board_member_title={show.board_member_title} board_member_date={show.board_member_date} board_member_info1={show.board_member_info1} board_member_info2={show.board_member_info2} board_member_info3={show.board_member_info3} board_member_responsibilities={show.board_member_responsibilities}>
        </BestyrelseCard>;
        })}
      </section>
    </main>

    <footer></footer>
  </body>
</html>

<style>
main {
  margin-top: 160px;
}

section{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

img {
    width: 200px;
    height: auto;
    align-self: center;
  }

body {
  background-color: #dededf;
}

h1 {
  text-align: center;
  text-decoration: underline;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
    /* Styles for tablets and desktop */

    .bestyrelse_card {
    display: flex;
    flex-direction: row;
    width: auto;
    }

    img{
        width: 400px;
    }

    p{
        max-width: 300px;
    }

}
</style>
